div#notationWindow {
    display: flex;
    flex-direction: column;
}

div#notationWindow span {
    bor-der: 1px solid black; /* temporary */
}

div#notationHeader {
    height: 120px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

div#titleContainer {
    text-align: center;
}

div#titleContainer span {
    display: block;
}

div.feedbackItem {
    width: 16px;
    background-color: #CCC;
}

span.feedbackItemElement {
    display: block;
}

/* header buttons */

span#settingsButton, span#playPauseButton, span#repeatButton, span#medalIndicator, span#exitFullScreenButton {
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
}

span#settingsButton {
    background-image: url("../images/ic_settings_24px.png");
}

span#playPauseButton {
    background-image: url("../images/ic_play_arrow_24px.png");
}

span#repeatButton {
    background-image: url("../images/ic_repeat_24px.png");
}

span#exitFullScreenButton {
    background-image: url("../images/ic_fullscreen_exit_24px.png");
}

span#medalIndicator {
    background-image: url("../images/medal.png");
    width: 60px;
    height: 60px;
}


div#metronomeItems {
    min-width: 160px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

span#tempoMarking {
    display: block;
    color: #bbb;
    text-align: center;
}

span.metronomeItem {
    width: 12px;
    height: 12px;
    border-radius: 6px;

    background-color: #D8D8D8;
}

span.metronomeItem.highlighted {
    width: 24px;
    height: 24px;
    border-radius: 12px;
    background-color: #AD6039;
}